<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/loading-bar@0.1.1/dist/loading-bar.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Geist&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <title>Earth-map</title>
</head>
<body>

    <!-- LOADING -->
    <div class="ldBar" data-value="0"></div>

    <!-- MENU DESPLEGABLE-->
    <div class="menu">
        <div id="favoritesMenu" class="menu-desplegable">
            <button id="menuToggle" class="hamburger-menu">
                <i class="fas fa-globe"></i>
            </button>
            <div class="menu-content">
                <button id="favoritos" class="favorites-button search-btn">Favoritos</button>
                <ul id="menuFavoritos"></ul>
                <button id="tuActividad" class="favorites-button search-btn">Tu actividad</button>
                <button id="paisesVisitados" class="favorites-button search-btn">Paises visitados</button>
                <button id="pendientesPorVisitar" class="favorites-button search-btn">Paises por visitar</button>
            </div>
        </div>
    
        <div id="menuUsuario" class="menu-desplegable">
            <button id="userMenuToggle" class="hamburger-menu">
                <i class="fas fa-user"></i>
            </button>
            <div id="usuario-nombre"></div>

            <div class="menu-content">
                <button id="selectCerrarSesion" class="favorites-button search-btn">Cerrar Sesión
                    <img src="../static/img/cerrar-sesion.png" alt="icono cerrar sesion"> 
                
                </button>
                <button id="selectIniciarSesion" class="favorites-button search-btn">Iniciar Sesión
                    <img src="../static/img/login.svg" alt="icono cerrar sesion"> 
                </button>

            </div>
        </div>
    
    </div>
    
    <!-- REGISTRO DE USUARIO  -->

    <div id="loginModal" class="modal">
      <div class="modal-content">
          <span class="close">&times;</span>
  
          <!-- Botones para alternar entre Register y Login -->

          <div class="toggle-buttons">
              <button id="showRegister"> Registrar</button>
              <button id="showLogin" class="active">Iniciar sesión</button>
          </div>
  
          <!-- Formulario de Login -->

          <div id="loginUser" class="form-container">
              <form id="loginForm">
                  <label for="log-user">Dirección de correo:</label>
                  <input type="text" id="log-user" name="username" placeholder="earthexplorer@ejemplo.com" required>
                  <br><br>
                  <label for="password">Contraseña:</label>
                  <div class ="passwContainer">
                    <input type="password" id="log-passw" name="password" placeholder="*******" required >
                    <span class="password-toggle-icon"><i class="fas fa-eye"></i></span>
                  </div>
                  
                  <br><br>
                  <button type="submit" class="modal-button-login">Enviar</button>
              </form>
          </div>
  
          <!-- Formulario de Register -->
           
          <div id="registerUser" class="form-container">
              <form id="registerForm">
                  <label for="reg-user">Nombre de usuario:</label>
                  <input type="text" id="reg-user" name="username" placeholder="earthexplorer" required>
                  <br><br>
                  <label for="reg-email">Dirección de correo:</label>
                  <input type="email" id="reg-email" name="email" placeholder="earthexplorer@ejemplo.com" required>
                  <br><br>
                  <label for="password">Contraseña</label>
                  <div class ="passwContainer">
                    <input type="password" id="reg-passw" name="password" placeholder="*******" required>
                    <span class="password-toggle-icon"><i class="fas fa-eye"></i></span>
                </div>
                  <br><br>
                  <button type="submit" class="modal-button-register">Enviar</button>
              </form>
          </div>
      </div>
    </div>

    <!-- NAVEGADOR BUSQUEDA PRINCIPAL  -->

    <div class="search-bar">
        <input id ="input" type="text" placeholder="Search...">
        <button id="searchButton" type="submit" value="" class="search-btn">
            <img src="../static/img/icono-buscador.png" alt="icono-buscador">
        </button>
    </div>


    <!-- MODAL INFO PAIS -->

    <div id="infoModal" class="modal">
        <div class="modal-content2">

            <div class="iconos">

                <button id="paises-favoritos" class="favoritos">
                    <img  src="../static/img/favoritos.svg"></img>
                </button>
                <button id="visitado" class="pendiente-visitar">
                    <img src="../static/img/pendiente-visitar.png" alt="pendiente por visitar" class="pendiente-icon">
                </button>
            </div>
            
            <div id="infoModalContent"></div>
            <div class="modalButtons">
                <button id="infoButton">Informacion</button>
                <button id="imagesButton">Imágenes</button>
            </div>
            
        </div>

    </div>

    <div id="imagesModal" class="images-container">
        <div class="images-content">
            <h2 class="images-title"></h2>
            <div class="images-grid"></div>
            <span class="close" id="closeImagesModal">&times;</span>
        </div>
    </div>

    <div id="favoritosContainer" class="modal">
        <div class="fav-content">
            <span class="close" id="closeFavoritesModal">&times;</span>
            <h2 class="fav-title">Mis Favoritos</h2>
        </div>
    </div>
      
    <!-- LIBRARIES -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/loadingio/ldloader@v1.0.0/dist/ldld.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

    <!-- SCRIPTS -->
    <script type="module" src="../static/js/index.js"></script>
    <script type="module" src="../static/js/login-register.js"></script>
    <script type="module" src="../static/js/userFavorites.js"></script>

</body>

</html>