<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <title>Document</title>
</head>
<body>

    <div class="menu-desplegable">
      <select></select>
    </div>
    
    <!-- REGISTRO DE USUARIO  -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeModal()">&times;</span>

          <div class="toggle-buttons">
            <button id="showRegister" class="active"><h2>Register</h2></button>
            <button id="showLogin" class="inactive"><h2>Login</h2></button>
          </div>

          <div class="loginUser" class="form-container hidden">
            
            <form id="loginForm">
              <label for="log-user">Username:</label>
              <input type="text" id="log-user" name="username" placeholder="Enter your username" required>
              <br><br>
              <label for="password">Password:</label>
              <input type="password" id="log-passw" name="password" placeholder="Enter your password" required>
              <br><br>
              <button type="submit" class="modal-button">Login</button>
            </form>
          </div>
          
          <div class="registerUser" class="form-container">
            
            <form id="registerForm">
              <label for="reg-user">Username:</label>
              <input type="text" id="reg-user" name="username" placeholder="Enter your username" required>
              <br><br>
              <label for="password">Password:</label>
              <input type="password" id="reg-passw" name="password" placeholder="Enter your password" required>
              <br><br>
              <button type="submit" class="modal-button">Register</button>
            </form>
          </div>
          
        </div>
      </div>
    
    <!-- NAVEGADOR BUSQUEDA PRINCIPAL  -->
    <div class="search-bar">
        <input id ="input" type="text" placeholder="Search...">
            <button type="submit" value="" class="search-btn">
                <img src="../static/img/icono-buscador.png" alt="icono-buscador">
            </button>
      </div>




    <!-- <script type="module" src="../static/js/index.js"></script> -->
    <script type="module" src="../static/js/main.js"></script>

</body>

</html>